# Dependencies
node_modules/

# Environment Variables
.env
.env.local

# Build Files
dist/
build/

# Logs
logs
*.log

# VS Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Uploads
backend/uploads/

# Coverage
coverage/